.side {
}

.editor {
  border: solid 1px grey;
  font-family: 'Monaco', monospace;
  width: 100%;
}

.buttons {
  float: right;

  .btn {
    margin-left: 5px;
    margin-right: 5px;
  }

  .btn-load {
    margin-right: 20px;
  }
}

.monospace {
  font-family: 'Monaco', monospace;
}

.footer {
  text-align: center;
}
