$grey: #808080;
$light-grey: #c0c0c0;
$light-light-grey: #aaa;
$red: #f00;
$mono: 'Monaco', monospace;

.editor {
  width: 100%;
}

.buttons {
  float: right;
  padding-top: 8px;

  .btn {
    margin-left: 5px;
    margin-right: 5px;
  }

  .btn-load {
    margin-right: 20;
  }
}

.monospace {
  font-family: $mono;
}

.footer {
  text-align: center;
}
