$grey: #808080;
$mono: 'Monaco', monospace;

.editor {
  border: solid 1px $grey;
  font-family: $mono;
  width: 100%;
}

.buttons {
  float: right;

  .btn {
    margin-left: 5px;
    margin-right: 5px;
  }

  .btn-load {
    margin-right: 20px;
  }
}

.monospace {
  font-family: $mono;
}

.footer {
  text-align: center;
}
